@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --r-code-font: 'Jetbrains Mono';
    --r-heading1-size: 1.5em;
    --r-heading2-size: 1em;
}
